# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.Script.iml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../../../:\Users\robde\OneDrive\Bureau\Travail épita\projet S2\Orientation\Orientation-Map\Orientation\Assets\Items\Script\.idea\.idea.Script.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
