# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Assets.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\Users\robde\OneDrive\Bureau\Travail épita\projet S2\Orientation\Orientation-Map\Orientation\Assets\.idea\.idea.Assets.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
